body{
    padding-inline-start: 0;
    margin: 0;
}

header {
    position: relative;
    width: 100%;
    font-family: "Roboto";
    z-index: 1;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(60%);
    z-index: -1; 
}   


#flex{
    display: flex;
    justify-content: space-between;
    padding: 10;
    text-transform: uppercase;
    background-color: rgba(0,0,0,0.6);
    color: white;
    font-family: "Roboto";
    font-weight: 500;

}
.cah{
    font-family: "Bebas Neue";
    font-size: x-large;
    font-weight: 600;
}
.uppertext{
    display: flex;
    column-gap: 20px;
    font-size: x-small;
    

}
a{
    text-decoration: none;
    color: white;
}
.text{
    color: white;
    padding-left: 80;
    padding-top: 60;
}
.text1{
    font-size: 35;
    text-transform: uppercase;
    font-weight: bolder;
}
.icon{
    padding-top: 80;
}
.icon div{
    text-align: center;

}
.icon1{
    font-size: 12px;
    color: lightslategray;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    padding-left: 80px;
}
.icon h3{
    font-size: 14px;
}
.hrcode{
    position: relative;
    width:40%;
    margin:0;
    padding:0;
    margin-top:40px;
    
}
.media {
    padding-left: 80;
    display: grid;
    grid-template-columns: 40px 40px 40px;
    column-gap: 5px;
    padding-top: 20px;

    
    
}
.facebook{
    background-color: blue;
    padding: 4px;
    margin-bottom: 20;

}
.twitter{
    background-color: rgb(29 161 242);
    padding: 4px;
    margin-bottom: 20;
    }
    .youtube{
        background-color: rgba(255, 0, 0, 0.436);
        padding: 4px;
    margin-bottom: 20;
    }
.hello{
    padding-top: 20px;
}
.divider{
    border-right: 1px solid lightgrey;
    height: 90%;
    margin-top: 40px;
    padding-bottom: 20px;

}
.imagegallery{
    display: flex;
    column-gap: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}

.bluearea{
    height: 400px;
    background-color: rgb(18, 6, 73);
    margin: -250px;
}
.bluetext{
    color: white;
    font-size: xx-large;
    padding-left: 90px;
    font-family: "Bebas Neue";
   
}
.bluetext1{
    color: white;
    padding-left: 90px;
    font-size: medium;
    font-family: "Roboto";
}
.blueimage{
padding-right: 300px;

}
.item{
    padding-top: 90px;
    
    
} 
.feature{
    padding-top: 223px;
}
.feature h2{
    padding-top: 70px;
    padding-left: 650px;
    color:rgb(18, 6, 73);
    font-family: "Bebas Neue";
    font-size: xx-large;
    font-weight: lighter;
}
.lorem{
    padding-left: 650px;
    color: rgb(97, 97, 97);
    font-weight:400;
    font-family:"Roboto";
    font-size: small;

}
#bookmark{
    padding-left: 650px;
    font-family: "Bebas Neue";
    padding-top: 6px;
}
#bookmark h3{
    padding-top: 4px;
    font-weight: lighter;
    font-size: larger;
}
#bookmark a{
    padding-top: 10px;
    font-weight: lighter;
    font-size: small;
    background-color:rgb(18, 6, 73) ;
    font-family: "Bebas Neue";
    padding: 8px;
}
ul{
    list-style-type: none;
}
.description{
    padding-top: 50px;
}
#heading{
    padding-left: 150px;
    padding-top: 25px;
    font-family: "Bebas Neue";
    font-size: xx-large;
    font-weight: lighter;
    color:rgb(18, 6, 73);
}
.description1{
    padding-left: 130px;
    font-family: "Bebas Neue";
}
#degree{
    font-weight: lighter;
    color:rgb(18, 6, 73);
}
.design{
    font-family: "Roboto";
    font-size: large;
    font-weight: lighter;
}
.ipsum{
    color: rgb(97, 97, 97);
    font-weight:400;
    font-family:"Roboto";
    font-size: small; 
}
#degree1{
    font-weight: lighter;
    color:rgb(18, 6, 73);
    padding-top: 20px;
}
.work{
    padding-top: 60px;
    }
.work h2{
    padding-top: 50px;
    padding-left: 680px;
    color:rgb(18, 6, 73);
    font-family: "Bebas Neue";
    font-size: xx-large;
    font-weight: lighter;
}
.work1{
    padding-left: 660px;
    font-family: "Bebas Neue";
}
#degree1{
    font-weight: lighter;
    color:rgb(18, 6, 73);
}
.design1{
    font-family: "Roboto";
    font-size: large;
    font-weight: lighter;
}
.ipsum1{
    color: rgb(97, 97, 97);
    font-weight:400;
    font-family:"Roboto";
    font-size: small; 
}
#spantext{
    font-size: smaller;
    color: red;
    padding-left: 8px;
}
.sector{
    padding-top: 60px;
    text-align: center;
    background-color: rgba(251,252,254,1) ;
    }
    .sector h2{
        color:rgb(18, 6, 73);
        font-family: "Bebas Neue";
        font-size: xx-large;
        font-weight: lighter;
    }
    .sector p{
        color: rgb(97, 97, 97);
        font-size: 14pt;
        font-weight: lighter;
        font-family: "Roboto";
        
        
    }
    .grid{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .display{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }